---
import { getCollection } from "astro:content";
const articles = await getCollection("blog");
---

<ul class="max-w-[960px] mx-auto flex flex-col lg:flex-row" id="articleList">
  {
    articles.map((article) => (
      <li class="p-[clamp(0.938rem,0.827rem+0.47vw,1.25rem)] hover:bg-picoIvory hover:rounded-10 group">
        <a href="/">
          <article class="flex flex-row flex-start gap-3xl lg:flex-col">
            <p class="w-full min-w-[150px] overflow-hidden rounded-20 lg:hidden">
              <img
                src={article.data.image.src}
                alt=""
                class="h-full group-hover:scale-[1.1] transition-all ease-out duration-700"
              />
            </p>
            <div class="flex flex-col">
              <p class="text-[clamp(0.75rem,0.706rem+0.19vw,0.875rem)] mb-[clamp(0.125rem,-0.183rem+1.31vw,1rem)]">
                {article.data.date}
              </p>
              <p class="hidden lg:block lg:w-[200px] lg:overflow-hidden lg:rounded-20 mb-[clamp(0.125rem,-0.183rem+1.31vw,1rem)]">
                <img
                  src={article.data.image.src}
                  alt=""
                  class="group-hover:scale-[1.1] transition ease-in-out duration-700"
                />
              </p>
              <h3 class="text-[clamp(1rem,0.912rem+0.38vw,1.25rem)] font-bold">
                {article.data.title}
              </h3>
              <div class="w-full h-[1px] bg-line mt-[clamp(0.125rem,-0.183rem+1.31vw,1rem)]" />
              <p class="w-full text-clamp mt-[clamp(0.125rem,-0.183rem+1.31vw,1rem)]">
                {article.data.desc}
              </p>
            </div>
          </article>
        </a>
      </li>
    ))
  }
</ul>

<script>
  const getDisplayCount = () => {
    if (window.innerWidth >= 1024) {
      return 4;
    } else {
      return 3;
    }
  };

  const updateArticleDisplay = () => {
    const displayCount = getDisplayCount();
    const articleList = document.querySelector("#articleList");

    const articles = Array.from(articleList.children);
    articles
      .slice(displayCount)
      .forEach((article) => article.classList.add("hidden"));
    articles
      .slice(0, displayCount)
      .forEach((article) => article.classList.remove("hidden"));
  };

  window.addEventListener("resize", updateArticleDisplay);
  window.addEventListener("load", updateArticleDisplay);
</script>
